

.nav-bar{
  width: 100%;
  height: 75px;
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-bar img{
  height:75px;
}

ul{
  list-style-type: none;
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 1.5em;
}

a{
  text-decoration: none;
  color: red;
}

a:hover{
  background: white;
  color: black;
}
/*need to change this:*/
a:active{
  background: red;
  color: black;
}
form{
  width: 100%;
}
.main-container{
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  width: auto;
  margin: 0 auto;
}

.content{
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content:space-around;
}
.user{
  background-color: black;
}

.home-user{
  width: 40%;
  border-style: groove;
  border-width: thick;
  border-color: red;
}

.opponent{
  text-align: center;
  width: 40%;
  border: thick groove red;
}


.home-name, .home-record, .opponent-name{
  width: 80%;
  align-content: center;
  font-size: 1.2em;
}

.options{
  display: flex;
  flex-flow: column;
}

.button, .radio-name{
  display: flex;
  justify-content: center;
  margin: 1em;
}

.radio{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/*Scoreboard Page*/
.main-container{
  justify-content: center;
  width: 100%;
}
.scoreboard-container{
  width: 100%;
}
.name-display-container{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
.name-display-container h1{
  width: 40%;
  text-align: center;
}

.main-scoreboard-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.home-team-container{
  display: flex;
  flex-flow: column wrap;
  width: 30%;
}
.serve-container{
  width: 30%;
  text-align: center;
}
.current-serve{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
.current-home-serve{
  border: 3px solid black;
  border-radius: 50px;
  width: 50px;
  height: 50px;
  background-color: yellow;
}
.current-away-serve{
  border: 3px solid black;
  border-radius: 50px;
  width: 50px;
  height: 50px;
}
.opponent-container{
  display: flex;
  flex-flow: column wrap;
  width: 30%;
}
.button-container{
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
}
.button-container button{

  justify-content: space-around;;
  width: 25%;
  height: 40px;
  margin: 0 auto;
}
