body{
  margin: 0 auto;


font-family: 'News Cycle', sans-serif;
}
.increment{
  border-radius: 100%;
  /*width: 1px;
  height: 1px;*/
}

.increment-pic{
  width: 5em;
  height: 5em;
}

.nav-bar{
  width: 100%;
  height: 75px;
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'Montserrat', sans-serif;
  color: white;
}
.logo-placeholder{
  width: 50px;
  height: 55px;
  background-color: red;
  margin: 10px;
  margin-left: 50px;
  margin-right: 5px;

}
.logo-container{
  display: flex;
  flex-flow: row wrap;
  width: 300px;
}
.logo-container h1{
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 1.5em;
  margin: 0px;
}
.logo-text{
  display: flex;
  flex-direction: column;
  width: 80px;
  justify-content: center;
  align-items: flex-start;
  margin: 0px;
}
ul{
  list-style-type: none;
  width: 60%;
  display: flex;
  flex-direction: row wrap;
  justify-content: space-around;
  align-items: center;
  font-size: 1em;
  margin-right: 50px;
}

a{
  text-decoration: none;
  color: white;
}

a:hover{
  color: yellow;
}
/*need to change this:*/
#current{
  color: red;
}
form{
  width: 100%;
}
.main-container{
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  width: auto;
  margin: 0 auto;
}

.content{
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content:center;
  color: black;
}

.home-user{
  display: flex;
  flex-direction: column;
  width: 40%;
  justify-content: center;
  align-items: center;
}
.home-name{
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 2em;
  margin-bottom: 5px;
}
.home-record{
  margin-top: 0px;
  width: 150px;
}
.vs{
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 2em;
}

.opponent{
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  width: 40%;
  margin-top: 20px;
}
.opponent-name{
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 2em;
}

.opponent-record-list{
  margin-top: 5px;
  width: 150px;
}
#enter-new-opponent{
  width: 275px;
}
.vs{
}
.vs p{}
.options{
  display: flex;
  flex-flow: column;
  font-family: 'Montserrat', sans-serif;
}

.button, .radio-name{
  display: flex;
  justify-content: center;
  margin: 1em;
}

.radio{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/*Scoreboard Page*/
.main-container{
  justify-content: center;
  width: 100%;
}
.scoreboard-container{
  width: 100%;
}
.name-display-container{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
.name-display-container h1{
  width: 40%;
  text-align: center;
}

.main-scoreboard-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.home-team-container{
  display: flex;
  flex-flow: column wrap;
  width: 30%;
}
.serve-container{
  width: 30%;
  text-align: center;
}
.current-serve{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
.current-player-serve{
  background-color: yellow;
}
#current-home-serve{
  border: 3px solid black;
  border-radius: 50px;
  width: 50px;
  height: 50px;

}
#current-away-serve{
  border: 3px solid black;
  border-radius: 50px;
  width: 50px;
  height: 50px;
}
.opponent-container{
  display: flex;
  flex-flow: column wrap;
  width: 30%;
}
.button-container{
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
}
.button-container button{

  justify-content: space-around;;
  width: 25%;
  height: 40px;
  margin: 0 auto;
}

.list-record {
  font-family: 'Montserrat', sans-serif;
}

.Kyle {
  width: 700px;
  height: auto;
  font-family: 'News Cycle', sans-serif;
}

.Kyle h1{
  font-family: 'Montserrat', sans-serif;
}

.Kyle img {
  max-width: 300px;
  max-height: 300px;
}

.Sean {
  width: 700px;
  height: auto;
  font-family: 'News Cycle', sans-serif;
}

.Sean h1{
  font-family: 'Montserrat', sans-serif;
}

.Sean img {
  max-width: 300px;
  max-height: 300px;
}

.Shawn {
  width: 700px;
  height: auto;
  font-family: 'News Cycle', sans-serif;
}

.Shawn h1{
  font-family: 'Montserrat', sans-serif;
}

.Shawn img {
  max-width: 300px;
  max-height: 300px;
}

.Sung {
  width: 700px;
  height: auto;
  font-family: 'News Cycle', sans-serif;
}

.Sung h1{
  font-family: 'Montserrat', sans-serif;
}

.Sung img {
  max-width: 300px;
  max-height: 300px;

}
