body{
  margin: 0 auto;
  font-family: 'News Cycle', sans-serif;
}

input:focus, button:focus, select:focus{
  outline: none;
}

.nav-bar{
  width: 100%;
  height: 75px;
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'Montserrat', sans-serif;
  color: white;
}
.logo-container{
  display: flex;
  flex-flow: row wrap;
  width: 300px;
}
.logo-container h1{
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 1.5em;
  margin: 0px;
}
.logo-placeholder{
  width: 60px;
  height: auto;
  margin: 5px;
  margin-left: 50px;
  margin-right: 0px;

}
.logo-text{
  display: flex;
  flex-direction: column;
  width: 80px;
  justify-content: center;
  align-items: flex-start;
  margin: 0px;
}
ul{
  list-style-type: none;
  width: 50%;
  display: flex;
  flex-direction: row wrap;
  justify-content: space-around;
  align-items: center;
  font-size: 1em;
  margin-right: 50px;
}

a{
  text-decoration: none;
  color: white;
}

a:hover{
  color: yellow;
}
/*need to change this:*/
#current{
  color: red;
}
form{
  width: 100%;
}
.main-container{
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  width: auto;
  margin: 0 auto;
}

.content{
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content:center;
  color: black;
}

.home-user{
  display: flex;
  flex-direction: column;
  width: 40%;
  justify-content: center;
  align-items: center;
}
.home-name{
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 2em;
  margin-bottom: 5px;
}
.home-record{
  margin-top: 0px;
  width: 150px;
}
.vs{
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 2em;
}

.opponent{
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  width: 40%;
  margin-top: 15px;
}
.opponent-name{
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 1.8em;
}

.opponent-record-list{
  margin-top: 5px;
  width: 150px;
}
#enter-new-opponent{
  width: 238px;
  height: 35px;
  font-size: 1.5em;
  padding-left: 5px;

}
.vs{
  margin-top: 40px;
}
.vs p{}
.options{

  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  font-family: 'Montserrat', sans-serif;
}


.button, .radio-name{
  display: flex;
  justify-content: center;
  margin: 1em;
}
.radio input{
  margin: 10px;
}
.button{
  margin-top: 50px;
}

.radio{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 30%;
  font-size: 2em;
  margin: 0 auto;
}

button {
  width: 265px;
  height: 40px;
  border-radius: 20px;
  background-color: red;
  border-color: red;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1.2em;
}

/*Scoreboard Page*/
.main-container{
  justify-content: center;
  width: 100%;
}
.scoreboard-container{
  width: 100%;
}
.name-display-container{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  margin: 0 auto;
}
.name-display-container h1{
  width: 40%;
  text-align: center;
  font-size: 2.5em;
  margin-bottom: 0px;
  margin-top: 15px;
}
.increment{
  background: white;
  border: none;
  height: 50px;
}

.increment-pic{
  width: 50%;
  height: 50px;
}

.main-scoreboard-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-atartz`;
    width: 100%;
}
.home-team-container{
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  width: 30%;
}

.home-team-container h1{
  font-size: 15em;
  margin: 0;
  text-align: center;
}
.serve-container{
  width: 10%;
  text-align: center;
}
.current-serve{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
.current-player-serve{
  background-color: yellow;
}
#current-home-serve{
  border: 3px solid black;
  border-radius: 50px;
  width: 50px;
  height: 50px;

}
#current-away-serve{
  border: 3px solid black;
  border-radius: 50px;
  width: 50px;
  height: 50px;
}
.opponent-container{
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  width: 30%;
}
.opponent-container h1{
  font-size: 15em;
  margin: 0;
  text-align: center;
}
.button-container{
  display: flex;
  flex-flow: row wrap;
  width: 60%;
  margin-top: 25px;
  margin-bottom: 10px;
}
.button-container button{

  justify-content: space-around;;
  width: 25%;
  height: 40px;
  margin: 0 auto;
}

.list-record {
  font-family: 'Montserrat', sans-serif;
}

.Kyle {
  width: 700px;
  height: auto;
  font-family: 'News Cycle', sans-serif;
}

.Main {
  display: flex;
  flex-direction: row;
}

.Main p {
  width: 50%;
  margin-left: 5%;
  margin-top: 0;
}

.Kyle h1{
  font-family: 'Montserrat', sans-serif;
}

.Kyle img {
  width: 300px;
  height: 300px;
}

.Sean {
  width: 700px;
  height: auto;
  font-family: 'News Cycle', sans-serif;
}

.Sean h1{
  font-family: 'Montserrat', sans-serif;
}

.Sean img {
  max-width: 300px;
  max-height: 300px;
}

.Shawn {
  width: 700px;
  height: auto;
  font-family: 'News Cycle', sans-serif;
}

.Shawn h1{
  font-family: 'Montserrat', sans-serif;
}

.Shawn img {
  max-width: 300px;
  max-height: 300px;
}

.Sung {
  width: 700px;
  height: auto;
  font-family: 'News Cycle', sans-serif;
}

.Sung h1{
  font-family: 'Montserrat', sans-serif;
}

.Sung img {
  max-width: 300px;
  max-height: 300px;

}

#user-results {
  padding-bottom: 20px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 20px;
}

#results-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: lightgrey;
  width: 100%;
  align-items: center;
  padding-bottom: 20px;
  margin-bottom: 20px;
  padding-top: 20px;
}


#overall-record th {
  border-bottom: solid;
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  padding-bottom: 10px;
}

#overall-record td {
  text-align: center;
  padding: 10px;
  font-family: 'News Cycle', sans-serif;
  font-size: 20px;
}

#list-record td {
  text-align: center;
  padding: 10px;
  border-bottom: solid;
  border-width: thin;
  font-family: 'News Cycle', sans-serif;
  font-size: 20px;
}

#list-record th {
  border-bottom: solid;
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  padding-bottom: 10px;
}
.list-record{
  margin-left: 40px;
}

.remove-opponent{
  width: 75px;
}
table {
width: 800px;
padding: 10px;
border-collapse: collapse;
}

hr {
  display: none;
}

#setupBorder {
  border-color: grey;
  background-color: lightgrey;
  width: 60%;
  margin-top: 5%;
  padding-bottom: 2%;
}
